<div class="container">
    <form>
      <p>Enter user name:</p>
      <input type="text" name="userName" [(ngModel)]="userName">
      <button  class="btn btn-primary btn-sm" (click)="getPurchasesByUserName()">Search</button>
      
      <div class="table-responsive" *ngIf="!isEmptu()">
        <table class="table table-striped">
          <thead>
            <th>Id</th>
            <th>Username</th>
            <th>Product Id</th>
            <th>Date</th>
          </thead>
          <tbody>
            <tr *ngFor="let purchase of purchases">
              <td>{{purchase.id}}</td>
              <td>{{purchase.username}}</td>
              <td>{{purchase.productId}}</td>
              <td>{{purchase.date}}</td>
            </tr>
  
          </tbody>
  
        </table>
      </div>
    </form>
  </div>