<div style="text-align:center">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">

        <img align="left" style=" width: 64px;" src={{img}}>

        <ul class="nav nav-pills">
          <li>
            <a routerLink="">Početna</a>
          </li>
          <li>
            <a routerLink="task">Zadatak</a>
          </li>
          <li>
            <a routerLink="howToRun">Pokreni</a>
          </li>
          <li>
            <a routerLink="mySolution">Moje rješenje</a>
          </li>
          <li>
            <a routerLink="autor">Autor</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
</div>