<div class="row" style="background-color: #e3f2fd;">
<div class="col-sm-3">    <img style="width:64px; float:right;" src={{img}} ></div>
<div class="col-sm-6" > <nav class="navbar navbar-light" >
    <div class="container-fluid">
      <div class="collapse navbar-collapse ">

    

        <ul class="nav nav-pills ">
          <li>
            <a routerLink="">Početna</a>
          </li>
          <li>
            <a routerLink="task">Zadatak</a>
          </li>
          <li>
            <a routerLink="howToRun">Pokreni</a>
          </li>
          <li>
            <a routerLink="mySolution">Moje rješenje</a>
          </li>
          <li>
            <a routerLink="autor">Autor</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav></div>
   
  


</div>