.img-fluid
{
  
    margin: 5px auto;
    padding: 5px;
    border-radius:7px;
    box-sizing: border-box;
    background-color: rgb(217, 217, 231);
 
 
}

.container{
    background-color: #ffffff;
}