<div class="container">

  <div class="jumbotron">
    <h2>
       Dobro došli na početnu stranicu 
    </h2><br><h3>Uopšteno</h3>
  </div>
  

  
  <div class="container">
    <div class="col-sm-4">
      <img class="bg-img" src="{{img}}">
    </div>
    <div class="col-sm-8">
      Ovdje se radi o projektu, koji sam dobio sasvim slučajno od jednog priatelja koji se javio nekim amerikancima
      <a href="https://www.x-team.com" rel="nofollow"> developers at x-team</a> na konkurs i oni mu poslali
      <a href="task">ovo</a>. Svidio mi se iz vise razloga. Radilo se o klasicnom backend zadatku (u prvom mahu), a osim toga dosta se razlikova
      od svih mojih predhodnih pokusaja pisanja koda - klasicni upis i ispis podataka iz baze uz pomoc Spring boot-a i hibernate,
      pa njihovo reprezentovanje uz pomoć JSP-a (Spring MVC)
      <a routerLink="https://github.com/VojoKovanusic/MVC" target="_blank"> git link </a>.
      <br> Ovdje sam kao pozadinu koristio RESTful Web Service,a projekat konfigurisao uz pomoc Spring boot-a, i to je bilo to...dok
      nakon nekog vremena nisam uvidio (uz pomoć prijatelja naravno, opet) da se mora nešto poraditi i po pitanju fronta.
      Jedan od mojih prvih dodira sa front tehnologijama sam pokušao iskoristiti na nadogradnji ovog projekta. Tako da sam
      uspio nešto odraditi sa Angularom, ne JS-om, već sa verzijom 2 +...!


      <ul>
        <br><strong>Sto se tiče razvojnog okruzenja (IDE) koje sam koristio:</strong>
        <li>
          STS (Spring Tool Suite). U stvari radi se o klasičnoj varijanti eclipse, sa poboljšanjima vezanim za Spring pre svega,
        </li>
        <li>
          Visual Studio Code sam upražnjavao kod Angulara.</li>
      </ul>
      <ol>
        <strong>Kao izvor informacija koristio sam ovim redom:</strong>
        <li>
          Udemy</li>
        <li>
          Youtube</li>
        <li>
          stackoverflow</li>
        <li>
          službena dokumentacija</li>
      </ol>
    </div>
  </div>
</div>