<div class class="container">
  <table class="table table-striped">

    <thead>
        <th>#</th>
      <th>product Id</th>
      <th>face</th>
      <th>price</th>
      <th>size</th>
    </thead>
    <tbody>
      <tr class="table" *ngFor="let product of allProducts; let i = index" >
        
        <td>{{i + 1}} )</td>
        <td>{{product.id}}</td>
        <td id="face">
          <b>{{product.face}}</b>
        </td>
        <td>{{product.price}}</td>
        <td>{{product.size}}</td>
      </tr>
    </tbody>


  </table>
</div>